/* reset main */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&family=Playfair+Display:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul,
ul li {
  padding: 0;
  list-style: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

address {
  font-style: normal;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #2f2e2e;
  font-family: "Playfair Display";
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
  overflow-x: hidden;
}
@media screen and (max-width: 991px) {
  .container {
    padding: 0 50px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 575px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 425px) {
  .container {
    padding: 0 10px;
  }
}

/* Custom */
.m--link {
  position: relative;
  color: #2f2e2e;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.m--link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #2f2e2e;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.m--link:hover::before {
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.m--text {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 31.4px;
  color: #2f2e2e;
}

.no-scroll {
  overflow-y: hidden;
}

.is-hiden {
  display: none;
}

.for--mobile {
  display: none;
}

.btn--reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.h2 {
  font-family: "Playfair Display", serif;
  font-size: 51px;
  font-style: normal;
  font-weight: 900;
}
@media screen and (max-width: 991px) {
  .h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 425px) {
  .h2 {
    font-size: 30px;
  }
}

.header .header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}
@media screen and (max-width: 425px) {
  .header .header__top-row {
    padding: 25px 0;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
}
@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header__search-icon {
    display: none;
  }
}

.header__main-row {
  position: relative;
  background-image: url("/source/bcg-screen.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 739px;
}
@media screen and (max-width: 425px) {
  .header__main-row {
    height: 100vh;
  }
}

.header__main-box {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 691px;
  height: 550px;
  padding: 138px 166px 138px 100px;
  background: linear-gradient(91deg, rgba(244, 246, 245, 0.9) -7.89%, rgba(255, 255, 255, 0.9) 132.55%);
}
@media screen and (max-width: 425px) {
  .header__main-box {
    top: 30%;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    width: 330px;
    height: 250px;
    padding: 46px 55px 46px 33px;
  }
}
.header__main-box .h1 {
  font-family: "Playfair Display", serif;
  font-size: 51px;
  font-weight: 900;
  margin-bottom: 10px;
}
@media screen and (max-width: 425px) {
  .header__main-box .h1 {
    font-size: 20px;
  }
}
.header__main-box .main__text {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 200;
}
@media screen and (max-width: 425px) {
  .header__main-box .main__text {
    font-size: 14px;
  }
}

.header__nav-btn {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__nav-btn {
    display: block;
  }
}

.header__top-row--mobile {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 9;
}
.header__top-row--mobile .nav {
  display: block;
}
.header__top-row--mobile .nav__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
}
.header__top-row--mobile .header__nav-btn {
  position: fixed;
  top: 50px;
  right: 30px;
}
@media screen and (max-width: 425px) {
  .header__top-row--mobile .header__nav-btn {
    top: 28px;
    right: 10px;
  }
}

/* Nav Icon */
.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 2px;
  --line-margin: 2;
  --color: #2e2f32;
  height: var(--height);
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  -webkit-transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
}

.nav-icon::before {
  top: calc(var(--line-height) * -5);
}

.nav-icon::after {
  top: calc(var(--line-height) * 5);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  -webkit-transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time), -webkit-transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.services {
  background-color: rgba(37, 77, 77, 0.2);
}
.services .h2 {
  padding-top: 16px;
  text-align: center;
  margin-bottom: 45px;
}
.services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 65px;
}
@media screen and (max-width: 425px) {
  .services__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}

.inner__item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 9px;
}
.inner__item-box .h3 {
  font-family: "Playfair Display", serif;
  font-size: 27px;
  font-weight: 900;
}
.inner__item-box .item__text {
  font-size: 16px;
  font-weight: 400;
  max-width: 158px;
}

.aboutus {
  margin-top: 76px;
}
@media screen and (max-width: 425px) {
  .aboutus {
    margin-top: 0px;
  }
}
.aboutus__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 425px) {
  .aboutus__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
}

.img__item {
  max-width: 735px;
  height: 100%;
}
@media screen and (max-width: 991px) {
  .img__item {
    max-width: 400px;
  }
}
@media screen and (max-width: 425px) {
  .img__item {
    max-width: 400px;
  }
}

.about__inner-text {
  text-align: left;
  max-width: 456px;
}

.about__title {
  text-align: left;
  margin-bottom: 37px;
}
@media screen and (max-width: 991px) {
  .about__title {
    margin-bottom: 15px;
  }
}

.about__innner-subtext {
  font-size: 31px;
  font-weight: 400;
  margin-bottom: 26px;
}
@media screen and (max-width: 991px) {
  .about__innner-subtext {
    font-size: 21px;
  }
}

.btn__link {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
@media screen and (max-width: 425px) {
  .btn__link {
    font-size: 18px;
  }
}

.projects {
  margin-top: 71px;
}
.projects__inner {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}
@media screen and (max-width: 991px) {
  .projects__inner {
    gap: 50px;
  }
}
@media screen and (max-width: 425px) {
  .projects__inner {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
}

.projects__title {
  margin-bottom: 71px;
}

.img-box :hover {
  cursor: pointer;
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transform: translate(2px, -5px);
      -ms-transform: translate(2px, -5px);
          transform: translate(2px, -5px);
  -webkit-box-shadow: -5px 3px 2px rgba(0, 0, 0, 0.3);
          box-shadow: -5px 3px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.projects__inner-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 9px;
}
.projects__inner-item .item__text {
  font-size: 18px;
  font-weight: 400;
  max-width: 178px;
}

.testimonial {
  margin-top: 70px;
  margin-bottom: 150px;
}
.testimonial__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 991px) {
  .testimonial__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
}

.testimonial__title {
  margin-bottom: 70px;
  text-align: center;
}

.testimonial__inner-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonial__inner-item .testimonial-img {
  margin-right: 29px;
}

.inner__text .h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
}

.testimonial__subtext {
  font-size: 17px;
  font-weight: 400;
  max-width: 307px;
}

.footer {
  background-color: #2e2f32;
  padding: 50px 55px;
  color: #fafafa;
  font-family: "Inter", sans-serif;
}
@media screen and (max-width: 991px) {
  .footer {
    padding: 50px 0px;
  }
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 425px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 40px;
  }
}

.footer__logo-img {
  margin-bottom: 18px;
}

.footer__text {
  max-width: 287px;
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 45px;
}
@media screen and (max-width: 991px) {
  .footer__text {
    font-size: 14px;
  }
}

.footer__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
}
@media screen and (max-width: 991px) {
  .footer__icon-box {
    gap: 20px;
  }
}

.footer__title {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 18px;
}
@media screen and (max-width: 991px) {
  .footer__title {
    font-size: 20px;
  }
}

.footer__link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  max-width: 201px;
}
.footer__link-box .footer__middle-link {
  color: #fafafa;
}
.footer__link-box .footer__middle-link:hover {
  color: #e0b4b4;
}