// colors
$main: #2f2e2e;
$secondary: #000;
$white-box: #fff;
$green-box: rgba(37, 77, 77, 0.2);

// fonts
$font-main: "Playfair Display", serif;
$font-accent: "Inter", sans-serif;

// animated
$transition: all 0.25s ease-in-out;

// media

$fullhd: 1919px;
$screen: 1439px;
$tablet: 991px;
$stablet: 766px;
$xstablet: 575px;
$phonemax: 440px;
$phone: 319px;
