.footer {
  background-color: #2e2f32;
  padding: 50px 55px;
  color: #fafafa;
  font-family: $font-accent;

  @include mediaTablet {
    padding: 50px 0px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @include mediaPhones {
      flex-direction: column-reverse;

      gap: 40px;
    }
  }
}

.footer__logo-img {
  margin-bottom: 18px;
}

.footer__text {
  max-width: 287px;

  font-size: 17px;
  font-weight: 400;
  line-height: 29px;

  margin-bottom: 45px;

  @include mediaTablet {
    font-size: 14px;
  }
}

.footer__icon-box {
  display: flex;
  gap: 36px;

  @include mediaTablet {
    gap: 20px;
  }
}

.footer__title {
  font-size: 24px;
  font-weight: 900;

  margin-bottom: 18px;

  @include mediaTablet {
    font-size: 20px;
  }
}

.footer__link-box {
  display: flex;
  flex-direction: column;
  gap: 10px;

  max-width: 201px;

  & .footer__middle-link {
    color: #fafafa;

    &:hover {
      color: #e0b4b4;
    }
  }
}
